In [1]:
import pandas as pd

In [2]:
dataset0_unordered = pd.read_csv(f"../intermediate_submissions/genetherapy_dataset0_2_unordered.csv")

df_0 = pd.read_csv(f"../data/data.info.labelled").drop(columns=['gene_id', 'label'])

df_merged = pd.merge(df_0, dataset0_unordered, on=['transcript_id', 'transcript_position'], how='left')

In [4]:
print(len(dataset0_unordered))
print(len(df_0))
print(len(df_merged))

121838
121838
121838

In [4]:
df_0.head(100)

      transcript_id  transcript_position     score
0   ENST00000000233                  244  0.075592
1   ENST00000000233                  261  0.729386
2   ENST00000000233                  316  0.027296
3   ENST00000000233                  332  0.246565
4   ENST00000000233                  368  0.124388
..              ...                  ...       ...
95  ENST00000002165                 1553  0.089739
96  ENST00000002165                 1630  0.009372
97  ENST00000002165                 1639  0.009909
98  ENST00000003100                 1022  0.020230
99  ENST00000003100                 1072  0.228767

[100 rows x 3 columns]